[Unit]
Description=Wyliodrin server
After=redis

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/wyliodrind
Restart=on-failure

[Install]
WantedBy=multi-user.target
